 body,
 html {
     margin: 0;
     padding: 0;
     height: 100%;
     width: 100%;
 }
*{
    box-sizing: border-box;
}
 .intro {
     width: 100%;
     height: 100%;
     background-color: #fec901;
     position: relative;

 }

 .button {
     width: 50px;
     height: 50px;
     background-color: white;
     right: 30px;
     top: 30px;
     position: absolute;
 }

 .introcontainer {
     width: 600px;
     top: 200px;
     left: 90px;
     position: absolute;

 }

 .black {
     width: 350px;
     height: 40px;
     background-color: black;
     margin: 40px 10px;
 }

 .title {
     width: 550px;
     height: 110px;
     background-color: black;
     margin: 20px 10px;

 }

 .buttonshop {
     width: 200px;
     height: 50px;
     background-color: white;
     margin: 10px;
 }

 .quality {
     width: 100%;
     position: relative;
 }

 .qualitycontainer {
     width: 90%;
     margin: auto;
     padding: 20px;

 }

 .qualitytitle {
     height: 50px;
     width: 800px;
     background-color: black;
     margin: 30px;

 }

 .qualitycontent {
     height: 100px;
     width: 1100px;
     background-color: black;
     margin: 30px;

 }


 .tag {
     background-color: #fac769;
     padding: 50px;
 }

 .taginfo {
     height: 40px;
     width: 70%;
     background-color: black;
     margin: auto;
 }

 .shop {
     width: 100%;

 }


 .shopcontainer {
     width: 85%;
     margin: auto;
     overflow: auto;
 }

 .prodtitle {
     height: 60px;
     width: 550px;
     margin: 70px 0px 20px 0px;
     background-color: black;
 }

 .productcontainer {
     width: 33%;
     height: 350px;
     padding: 10px;
     float: left;



 }

 .product1 {
     height: 100%;
     background-color: #fac769;

 }

 .product2 {
     height: 100%;
     background-color: #fac769;
 }

 .product3 {
     height: 100%;
     background-color: #fac769;
 }

 .gallery {
     width: 100%;
 }


 .gallerycontainer {
     width: 85%;
     margin: auto;
     overflow: auto;
 }

 .gallerytitle {
     height: 40px;
     width: 550px;
     margin: 70px 0px 20px 0px;
     background-color: black;
 }

 .photoscontainer {
     height: 200px;
     width: 25%;
     padding: 10px;
     float: left;
 }

 .photos1 {
     height: 100%;
     background-color: #ffd220;
 }

 .photos2 {
     height: 100%;
     background-color: #ffd220;
 }

 .photos3 {
     height: 100%;
     background-color: #ffd220;
 }

 .photos4 {
     height: 100%;
     background-color: #ffd220;
 }

 .photos5 {
     height: 100%;
     background-color: #ffd220;
 }

 .photos6 {
     height: 100%;
     background-color: #ffd220;
 }

 .photos7 {
     height: 100%;
     background-color: #ffd220;
 }

 .photos8 {
     height: 100%;
     background-color: #ffd220;
 }


 .tag2 {
     width: 100%;
     background-color: #fac769;
     margin: 70px 0px 0px 0px;

 }


 .tagcontainer {
     width: 80%;
     background-color: #fac769;
     margin: auto;
     font-size: 0px;

 }

 .tagcontainerfir {
     width: 70%;
     background-color: #fac769;
     margin: auto;
     display: inline-block;
 }

 .tagcon1 {
     height: 30px;
     width: 300px;
     background-color: white;
     margin: 25px 0px 0px 100px;


 }

 .tagcon2 {
     height: 40px;
     width: 600px;
     background-color: white;
     margin: 30px 0px 35px 100px;

 }

 .tagcontainersec {
     width: 30%;
     background-color: #fac769;
     margin: auto;
     display: inline-block;

 }

 .tagcon3 {
     height: 40px;
     width: 120px;
     background-color: white;
     margin: 60px 0px 60px 100px;


 }

 .services {
     width: 85%;
     background-color: white;
     margin: auto;
     overflow: auto;

 }

 .servicestitle {
     height: 50px;
     width: 60%;
     background-color: black;
     margin: 80px auto 5px;

 }

 .servicescontainer {
     height: 200px;
     width: 25%;
     padding: 10px;
     float: left;

 }

 .services1 {
     height: 100%;
     background-color: black;
 }

 .services2 {
     height: 100%;
     background-color: black;
 }

 .services3 {
     height: 100%;
     background-color: black;
 }

 .services4 {
     height: 100%;
     background-color: black;
 }


 .location {
     width: 100%;
     background-color: white;

 }

 .locationtitle {
     height: 20px;
     width: 250px;
     background-color: black;
     margin: 90px auto 10px auto;


 }

 .locationtitle1 {
     height: 60px;
     width: 500px;
     background-color: black;
     margin: 5px auto 50px auto;


 }

 .map {
     height: 400px;
     width: 100%;
     background-color: cadetblue;
 }

 .contact {
     width: 100%;
     background-color: white;
 }

 .contactcontainer {
     width: 80%;
     margin: auto;
     font-size: 0px;
     overflow: auto;


 }

 .contactcontainer1 {
     width: 33%;
     margin: auto;
     display: inline-block;
 }

 .contactlink {
     height: 60px;
     width: 90px;
     background-color: black;
     margin: 85px auto 30px 50px;
 }

 .contactcontainer2 {
     width: 33%;
     margin: auto;
     display: inline-block;
 }

 .copyright {
     height: 30px;
     width: 350px;
     background-color: black;
     margin: 50px auto 0px auto;

 }

 .privacy {
     height: 20px;
     width: 150px;
     background-color: black;
     margin: 5px auto 40px auto;

 }

 .contactcontainer3 {
     height: 33px;
     width: 33px;
     margin: 20px 0px 50px 40px ;
     display: inline-block;
 }

 .facebook {
     height:100%;
     background-color: #fac769;
 }

 .twitter {
     height:100%;
     background-color: #fac769;

 }

 .instagram {
     height: 100%;
     background-color: #fac769;

 }

 .youtube {
     height:100%;
     background-color: #fac769;
 }

 .wifi {
     height:100%;
     background-color: #fac769;

 }
